$red: rgb(234, 67, 53);
$orange: rgb(255, 159, 67);
$yellow: rgb(251, 188, 4);
$green: rgb(52, 168, 83);
$blue: rgb(66, 133, 244);
$indigo: rgb(67, 56, 202);
$violet: rgb(109, 40, 217);
$grey: rgb(95, 99, 104);

$teal: rgb(0, 150, 136);
$sky: rgb(3, 105, 161);
$purple: rgb(126, 34, 206);
$pink: rgb(255, 105, 180);
$brown: rgb(121, 85, 72);
$cyan: rgb(0, 188, 212);
$lime: rgb(205, 220, 57);

$light: rgb(248, 249, 250);
$dark: rgb(32, 33, 36);
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);

$red-sub: rgb(254, 235, 233);
$text-red-sub: rgb(166, 23, 23);

$orange-sub: rgb(248, 234, 210);
$text-orange-sub: rgb(166, 111, 23);

$yellow-sub: rgb(255, 248, 231);
$text-yellow-sub: rgb(166, 111, 23);

$green-sub: rgb(232, 245, 233);
$text-green-sub: rgb(23, 111, 66);

$blue-sub: rgb(232, 240, 254);
$text-blue-sub: rgb(23, 78, 166);

$indigo-sub: rgb(232, 232, 254);
$text-indigo-sub: rgb(75, 0, 130);

$violet-sub: rgb(243, 232, 254);
$text-violet-sub: rgb(108, 52, 131);

:root {
 --red: #{$red};
 --orange: #{$orange};
 --yellow: #{$yellow};
 --green: #{$green};
 --blue: #{$blue};
 --indigo: #{$indigo};
 --violet: #{$violet};
 --grey: #{$grey};
 --teal: #{$teal};
 --sky: #{$sky};
 --purple: #{$purple};
 --pink: #{$pink};
 --brown: #{$brown};
 --cyan: #{$cyan};
 --lime: #{$lime};
 --light: #{$light};
 --dark: #{$dark};
 --black: #{$black};
 --white: #{$white};
 --red-sub: #{$red-sub};
 --text-red-sub: #{$text-red-sub};
 --orange-sub: #{$orange-sub};
 --text-orange-sub: #{$text-orange-sub};
 --yellow-sub: #{$yellow-sub};
 --text-yellow-sub: #{$text-yellow-sub};
 --green-sub: #{$green-sub};
 --text-green-sub: #{$text-green-sub};
 --blue-sub: #{$blue-sub};
 --text-blue-sub: #{$text-blue-sub};
 --indigo-sub: #{$indigo-sub};
 --text-indigo-sub: #{$text-indigo-sub};
 --violet-sub: #{$violet-sub};
 --text-violet-sub: #{$text-violet-sub};

 --brilliant-blue-50: #e6f2fb;
 --brilliant-blue-100: #b0d5f2;
 --brilliant-blue-200: #8ac1eb;
 --brilliant-blue-300: #54a5e2;
 --brilliant-blue-400: #3393dd;
 --brilliant-blue-500: #0078d4;
 --brilliant-blue-600: #006dc1;
 --brilliant-blue-700: #005597;
 --brilliant-blue-800: #004275;
 --brilliant-blue-900: #002948;
 --blue-black-50: #e6e9ea;
 --blue-black-100: #b3babe;
 --blue-black-200: #8e989e;
 --blue-black-300: #5a6972;
 --blue-black-400: #3a4c56;
 --blue-black-500: #091f2c;
 --blue-black-600: #081c28;
 --blue-black-700: #06161f;
 --blue-black-800: #051118;
 --blue-black-900: #030b0f;
 --sea-salt-50: #fdfdfc;
 --sea-salt-100: #f8f7f5;
 --sea-salt-200: #f4f4f0;
 --sea-salt-300: #f0eeea;
 --sea-salt-400: #edebe5;
 --sea-salt-500: #e8e6df;
 --sea-salt-600: #d3d1cb;
 --sea-salt-700: #a5a39e;
 --sea-salt-800: #807f7b;
 --sea-salt-900: #4f4e4c;
 --sky-blue-50: #f4fafd;
 --sky-blue-100: #dceef8;
 --sky-blue-200: #cbe6f4;
 --sky-blue-300: #b3daf0;
 --sky-blue-400: #a4d3ed;
 --sky-blue-500: #8dc8e8;
 --sky-blue-600: #80b6d3;
 --sky-blue-700: #648ea5;
 --sky-blue-800: #4e6e80;
 --sky-blue-900: #30444f;
 --dark-blue-50: #eaecf1;
 --dark-blue-100: #bdc5d2;
 --dark-blue-200: #9da9bd;
 --dark-blue-300: #70829f;
 --dark-blue-400: #55698c;
 --dark-blue-500: #2a446f;
 --dark-blue-600: #263e65;
 --dark-blue-700: #1e304f;
 --dark-blue-800: #17253d;
 --dark-blue-900: #0e1726;
 --aqua-foam-50: #f8fcfb;
 --aqua-foam-100: #e9f4f1;
 --aqua-foam-200: #dfefea;
 --aqua-foam-300: #d0e8e1;
 --aqua-foam-400: #c7e3db;
 --aqua-foam-500: #b9dcd2;
 --aqua-foam-600: #a8c8bf;
 --aqua-foam-700: #839c95;
 --aqua-foam-800: #667974;
 --aqua-foam-900: #3f4b47;
 --pale-lime-50: #fbfdf4;
 --pale-lime-100: #f2f9dc;
 --pale-lime-200: #ebf6cb;
 --pale-lime-300: #e2f2b3;
 --pale-lime-400: #ddf0a5;
 --pale-lime-500: #d4ec8e;
 --pale-lime-600: #c1d781;
 --pale-lime-700: #97a865;
 --pale-lime-800: #75824e;
 --pale-lime-900: #485030;
 --deep-teal-50: #e9efef;
 --deep-teal-100: #baccce;
 --deep-teal-200: #99b4b7;
 --deep-teal-300: #6b9196;
 --deep-teal-400: #4e7c81;
 --deep-teal-500: #225b62;
 --deep-teal-600: #1f5359;
 --deep-teal-700: #184146;
 --deep-teal-800: #133236;
 --deep-teal-900: #0c1f21;
 --lavender-50: #f9f8fc;
 --lavender-100: #ede8f6;
 --lavender-200: #e4ddf2;
 --lavender-300: #d8cdec;
 --lavender-400: #d1c3e9;
 --lavender-500: #c5b4e3;
 --lavender-600: #b3a4cf;
 --lavender-700: #8c80a1;
 --lavender-800: #6c637d;
 --lavender-900: #433d4d;
 --violet-50: #f1e9f1;
 --violet-100: #d3bbd4;
 --violet-200: #bd9bbf;
 --violet-300: #9f6da1;
 --violet-400: #8d518f;
 --violet-500: #702573;
 --violet-600: #662269;
 --violet-700: #501a52;
 --violet-800: #3e143f;
 --violet-900: #260d27;
 --twilight-purple-50: #edebf0;
 --twilight-purple-100: #c6c1d0;
 --twilight-purple-200: #aaa3ba;
 --twilight-purple-300: #83789a;
 --twilight-purple-400: #6b5e86;
 --twilight-purple-500: #463668;
 --twilight-purple-600: #40315f;
 --twilight-purple-700: #32264a;
 --twilight-purple-800: #271e39;
 --twilight-purple-900: #181223;
 --teams-50: #efeffb;
 --teams-100: #cdccf2;
 --teams-200: #b4b4eb;
 --teams-300: #9291e2;
 --teams-400: #7d7cdd;
 --teams-500: #5d5bd4;
 --teams-600: #5553c1;
 --teams-700: #424197;
 --teams-800: #333275;
 --teams-900: #201f48;
 --pink-50: #fff7f8;
 --pink-100: #ffe7ea;
 --pink-200: #ffdce0;
 --pink-300: #ffccd1;
 --pink-400: #ffc2c9;
 --pink-500: #ffb3bb;
 --pink-600: #e8a3aa;
 --pink-700: #b57f85;
 --pink-800: #8c6267;
 --pink-900: #573d40;
 --orange-coral-50: #fff6f3;
 --orange-coral-100: #ffe2db;
 --orange-coral-200: #ffd5ca;
 --orange-coral-300: #ffc1b1;
 --orange-coral-400: #ffb5a2;
 --orange-coral-500: #ffa38b;
 --orange-coral-600: #e8947e;
 --orange-coral-700: #b57463;
 --orange-coral-800: #8c5a4c;
 --orange-coral-900: #57372f;
 --maroon-50: #f1e9ea;
 --maroon-100: #d4bcbf;
 --maroon-200: #bf9b9f;
 --maroon-300: #a16e74;
 --maroon-400: #8f5159;
 --maroon-500: #73262f;
 --maroon-600: #69232b;
 --maroon-700: #521b21;
 --maroon-800: #3f151a;
 --maroon-900: #270d10;
 --custard-yellow-50: #fffcf5;
 --custard-yellow-100: #fff6df;
 --custard-yellow-200: #fff2d0;
 --custard-yellow-300: #ffecbb;
 --custard-yellow-400: #ffe9ad;
 --custard-yellow-500: #ffe399;
 --custard-yellow-600: #e8cf8b;
 --custard-yellow-700: #b5a16d;
 --custard-yellow-800: #8c7d54;
 --custard-yellow-900: #574d34;
 --golden-yellow-50: #fff8e6;
 --golden-yellow-100: #ffe9b0;
 --golden-yellow-200: #ffdf8a;
 --golden-yellow-300: #ffd054;
 --golden-yellow-400: #ffc733;
 --golden-yellow-500: #ffb900;
 --golden-yellow-600: #e8a800;
 --golden-yellow-700: #b58300;
 --golden-yellow-800: #8c6600;
 --golden-yellow-900: #573f00;
 --dark-brown-50: #efedeb;
 --dark-brown-100: #ccc6c1;
 --dark-brown-200: #b4aaa3;
 --dark-brown-300: #92847a;
 --dark-brown-400: #7d6c60;
 --dark-brown-500: #5c4738;
 --dark-brown-600: #544133;
 --dark-brown-700: #413228;
 --dark-brown-800: #33271f;
 --dark-brown-900: #1f1813;
 --green-black-50: #e7e9e9;
 --green-black-100: #b4babb;
 --green-black-200: #90999a;
 --green-black-300: #5d6a6c;
 --green-black-400: #3d4d50;
 --green-black-500: #0d2124;
 --green-black-600: #0c1e21;
 --green-black-700: #09171a;
 --green-black-800: #071214;
 --green-black-900: #040b0c;
 --purple-black-50: #e8e7ea;
 --purple-black-100: #b7b4bd;
 --purple-black-200: #94909d;
 --purple-black-300: #645d71;
 --purple-black-400: #453d55;
 --purple-black-500: #170d2b;
 --purple-black-600: #150c27;
 --purple-black-700: #10091f;
 --purple-black-800: #0d0718;
 --purple-black-900: #08040f;
 --red-black-50: #eae7e7;
 --red-black-100: #bdb4b6;
 --red-black-200: #9d9092;
 --red-black-300: #715d60;
 --red-black-400: #553d41;
 --red-black-500: #2b0d12;
 --red-black-600: #270c10;
 --red-black-700: #1f090d;
 --red-black-800: #18070a;
 --red-black-900: #0f0406;
 --brown-black-50: #eae8e8;
 --brown-black-100: #bdb7b7;
 --brown-black-200: #9d9594;
 --brown-black-300: #706464;
 --brown-black-400: #544645;
 --brown-black-500: #291817;
 --brown-black-600: #251615;
 --brown-black-700: #1d1110;
 --brown-black-800: #170d0d;
 --brown-black-900: #0e0808;
 --off-white-50: #fefefe;
 --off-white-100: #fcfbfc;
 --off-white-200: #faf9fa;
 --off-white-300: #f8f7f8;
 --off-white-400: #f6f5f7;
 --off-white-500: #f4f3f5;
 --off-white-600: #dedddf;
 --off-white-700: #adadae;
 --off-white-800: #868687;
 --off-white-900: #535353;
 --warm-white-50: #fffefe;
 --warm-white-100: #fffdfb;
 --warm-white-200: #fffcf9;
 --warm-white-300: #fffaf7;
 --warm-white-400: #fff9f5;
 --warm-white-500: #fff8f3;
 --warm-white-600: #e8e2dd;
 --warm-white-700: #b5b0ad;
 --warm-white-800: #8c8886;
 --warm-white-900: #575453;
 --pale-gray-50: #fbfbfb;
 --pale-gray-100: #f3f3f2;
 --pale-gray-200: #eeeeec;
 --pale-gray-300: #e6e6e4;
 --pale-gray-400: #e1e1de;
 --pale-gray-500: #d9d9d6;
 --pale-gray-600: #c5c5c3;
 --pale-gray-700: #9a9a98;
 --pale-gray-800: #777776;
 --pale-gray-900: #4a4a49;
 --vapor-gray-50: #f7f7f7;
 --vapor-gray-100: #e7e7e7;
 --vapor-gray-200: #dbdcdc;
 --vapor-gray-300: #cbcccc;
 --vapor-gray-400: #c1c2c2;
 --vapor-gray-500: #b1b3b3;
 --vapor-gray-600: #a1a3a3;
 --vapor-gray-700: #7e7f7f;
 --vapor-gray-800: #616262;
 --vapor-gray-900: #3c3d3d;
 --dark-slate-50: #ececec;
 --dark-slate-100: #c5c4c4;
 --dark-slate-200: #a9a8a8;
 --dark-slate-300: #828080;
 --dark-slate-400: #6a6768;
 --dark-slate-500: #454142;
 --dark-slate-600: #3f3b3c;
 --dark-slate-700: #312e2f;
 --dark-slate-800: #262424;
 --dark-slate-900: #171616;
 --morganite-50: #fcfbf9;
 --morganite-100: #f6f1ee;
 --morganite-200: #f1ebe5;
 --morganite-300: #ebe2d9;
 --morganite-400: #e7dcd2;
 --morganite-500: #e1d3c7;
 --morganite-600: #cdc0b5;
 --morganite-700: #a0968d;
 --morganite-800: #7c746d;
 --morganite-900: #4d4844;
 --brown-50: #f9f4f1;
 --brown-100: #ebded4;
 --brown-200: #e2cebf;
 --brown-300: #d4b7a2;
 --brown-400: #cca990;
 --brown-500: #bf9474;
 --brown-600: #ae876a;
 --brown-700: #886952;
 --brown-800: #695140;
 --brown-900: #413227;
 --breen-50: #f2efe8;
 --breen-100: #d7ccb8;
 --breen-200: #c4b396;
 --breen-300: #a99066;
 --breen-400: #997b48;
 --breen-500: #7f5a1a;
 --breen-600: #745218;
 --breen-700: #5a4012;
 --breen-800: #46320e;
 --breen-900: #2b1f09;
 --bright-orange-50: #ffefeb;
 --bright-orange-100: #ffccc2;
 --bright-orange-200: #ffb4a4;
 --bright-orange-300: #ff927a;
 --bright-orange-400: #ff7d61;
 --bright-orange-500: #ff5c39;
 --bright-orange-600: #e85434;
 --bright-orange-700: #b54128;
 --bright-orange-800: #8c331f;
 --bright-orange-900: #571f13;
 --ginger-bread-50: #f1ebe8;
 --ginger-bread-100: #d4c2b9;
 --ginger-bread-200: #bfa497;
 --ginger-bread-300: #a17a68;
 --ginger-bread-400: #8f614a;
 --ginger-bread-500: #73391d;
 --ginger-bread-600: #69341a;
 --ginger-bread-700: #522815;
 --ginger-bread-800: #3f1f10;
 --ginger-bread-900: #27130a;
 --red-50: #feebed;
 --red-100: #fcc1c8;
 --red-200: #faa3ad;
 --red-300: #f87887;
 --red-400: #f65e70;
 --red-500: #f4364c;
 --red-600: #de3145;
 --red-700: #ad2636;
 --red-800: #861e2a;
 --red-900: #53121a;
 --lilac-50: #fbf5fb;
 --lilac-100: #f2e1f3;
 --lilac-200: #ecd2ed;
 --lilac-300: #e3bee4;
 --lilac-400: #ddb1df;
 --lilac-500: #d59ed7;
 --lilac-600: #c290c4;
 --lilac-700: #977099;
 --lilac-800: #755776;
 --lilac-900: #483649;
 --red-violet-50: #f9ebf9;
 --red-violet-100: #ebc2ed;
 --red-violet-200: #e2a5e4;
 --red-violet-300: #d57cd7;
 --red-violet-400: #cd62d0;
 --red-violet-500: #c03bc4;
 --red-violet-600: #af36b2;
 --red-violet-700: #882a8b;
 --red-violet-800: #6a206c;
 --red-violet-900: #411443;
 --purple-50: #f3eff9;
 --purple-100: #d9ceed;
 --purple-200: #c7b6e4;
 --purple-300: #ae95d8;
 --purple-400: #9e81d1;
 --purple-500: #8661c5;
 --purple-600: #7a58b3;
 --purple-700: #5f458c;
 --purple-800: #4a356c;
 --purple-900: #2e2143;
 --mint-green-50: #f4fdf1;
 --mint-green-100: #dcf8d3;
 --mint-green-200: #cbf5be;
 --mint-green-300: #b3f0a0;
 --mint-green-400: #a4ed8d;
 --mint-green-500: #8de971;
 --mint-green-600: #80d467;
 --mint-green-700: #64a550;
 --mint-green-800: #4e803e;
 --mint-green-900: #304f26;
 --grass-green-50: #e6f0e8;
 --grass-green-100: #b2cfb9;
 --grass-green-200: #8db897;
 --grass-green-300: #599768;
 --grass-green-400: #39834a;
 --grass-green-500: #07641d;
 --grass-green-600: #065b1a;
 --grass-green-700: #054715;
 --grass-green-800: #043710;
 --grass-green-900: #02220a;
 --biscay-green-50: #edf9f7;
 --biscay-green-100: #c7ede7;
 --biscay-green-200: #abe4db;
 --biscay-green-300: #85d8cb;
 --biscay-green-400: #6dd1c1;
 --biscay-green-500: #49c5b1;
 --biscay-green-600: #42b3a1;
 --biscay-green-700: #348c7e;
 --biscay-green-800: #286c61;
 --biscay-green-900: #19433c;
 --oyster-gray-50: #fbfbfa;
 --oyster-gray-100: #f3f1ef;
 --oyster-gray-200: #edeae7;
 --oyster-gray-300: #e4e1dc;
 --oyster-gray-400: #dfdbd5;
 --oyster-gray-500: #d7d2cb;
 --oyster-gray-600: #c4bfb9;
 --oyster-gray-700: #999590;
 --oyster-gray-800: #767470;
 --oyster-gray-900: #494745;
 --warm-gray-50: #f4f3f1;
 --warm-gray-100: #dbd8d5;
 --warm-gray-200: #cac6c0;
 --warm-gray-300: #b2aba3;
 --warm-gray-400: #a39b91;
 --warm-gray-500: #8c8276;
 --warm-gray-600: #7f766b;
 --warm-gray-700: #635c54;
 --warm-gray-800: #4d4841;
 --warm-gray-900: #302c28;
 --success-50: #e7f3ea;
 --success-100: #b4dabc;
 --success-200: #90c89c;
 --success-300: #5eaf6f;
 --success-400: #3e9f53;
 --success-500: #0e8728;
 --success-600: #0d7b24;
 --success-700: #0a601c;
 --success-800: #084a16;
 --success-900: #052e0e;
 --error-50: #fceaec;
 --error-100: #f5bfc5;
 --error-200: #f0a0a9;
 --error-300: #e97582;
 --error-400: #e55a6a;
 --error-500: #de3145;
 --error-600: #ca2d3f;
 --error-700: #9e2331;
 --error-800: #7a1b26;
 --error-900: #4b1117;
 --warning-50: #fffbe9;
 --warning-100: #fdf4bb;
 --warning-200: #fdee9a;
 --warning-300: #fce66c;
 --warning-400: #fbe14f;
 --warning-500: #fada23;
 --warning-600: #e4c620;
 --warning-700: #b29b19;
 --warning-800: #8a7813;
 --warning-900: #554a0c;
 --info-50: #e6effd;
 --info-100: #b0ccf8;
 --info-200: #8ab4f4;
 --info-300: #5492f0;
 --info-400: #337ded;
 --info-500: #005ce8;
 --info-600: #0054d3;
 --info-700: #0041a5;
 --info-800: #003380;
 --info-900: #001f4f;
 --neutral-white: #fff;
 --neutral-black: #000;
 --neutral-bright-lime: #89c402;
 --alpha-50: rgba(255, 255, 255, 0.05);
 --alpha-100: rgba(255, 255, 255, 0.1);
 --alpha-200: rgba(255, 255, 255, 0.2);
 --alpha-300: rgba(255, 255, 255, 0.3);
 --alpha-400: rgba(255, 255, 255, 0.4);
 --alpha-500: rgba(255, 255, 255, 0.5);
 --alpha-600: rgba(255, 255, 255, 0.6);
 --alpha-700: rgba(255, 255, 255, 0.7);
 --alpha-800: rgba(255, 255, 255, 0.8);
 --alpha-900: rgba(255, 255, 255, 0.9);
}
