$gradient-mesh-brilliant-blue: linear-gradient(
 122deg,
 #b3daf0 -18.47%,
 #54a5e2 50.34%,
 #8ac1eb 118.47%
);
$gradient-mesh-sky-blue: linear-gradient(
 122deg,
 #cbe6f4 -18.47%,
 #8dc8e8 50.34%,
 #c5b4e3 118.47%
);
$gradient-mesh-pale-lime-green: linear-gradient(
 122deg,
 #ebf6cb -18.47%,
 #d4ec8e 50.34%,
 #85d8cb 118.47%
);
$gradient-mesh-pale-lime-foam: linear-gradient(
 122deg,
 #ebf6cb -18.47%,
 #d4ec8e 50.34%,
 #badcd2 118.47%
);
$gradient-mesh-aqua-foam: linear-gradient(
 122deg,
 #dfefea -18.47%,
 #badcd2 50.34%,
 #b0d5f2 118.47%
);
$gradient-mesh-custard-yellow: linear-gradient(
 122deg,
 #fff2cb -18.47%,
 #ffe38e 50.34%,
 #ffbead 118.47%
);
$gradient-mesh-pink: linear-gradient(
 122deg,
 #fed7e2 -18.47%,
 #fbb6ce 50.34%,
 #ffcf54 118.47%
);
$gradient-mesh-orange-coral: linear-gradient(
 122deg,
 #ffe1d9 -18.47%,
 #ffb19d 50.34%,
 #ffe38e 118.47%
);
$gradient-mesh-blue-black: linear-gradient(
 122deg,
 #003259 -18.47%,
 #091f2c 50.34%,
 #004275 118.47%
);
$gradient-mesh-dark-blue-sky: linear-gradient(
 122deg,
 #2a446f -18.47%,
 #1e304f 50.34%,
 #3b5461 118.47%
);
$gradient-mesh-dark-blue-lime: linear-gradient(
 122deg,
 #2a446f -18.47%,
 #1e304f 50.34%,
 #59633c 118.47%
);
$gradient-mesh-deep-teal: linear-gradient(
 122deg,
 #225b62 -18.47%,
 #133236 50.34%,
 #4e5c58 118.47%
);
$gradient-mesh-biscay-green: linear-gradient(
 122deg,
 #286c61 -18.47%,
 #1f534a 50.34%,
 #75824e 118.47%
);
$gradient-mesh-maroon: linear-gradient(
 122deg,
 #591520 -18.47%,
 #2b0d12 50.34%,
 #8c7d4e 118.47%
);
$gradient-linear-sea-salt: linear-gradient(
 90deg,
 #dceef8 0%,
 #f8f7f5 49.65%,
 #ede8f6 100%
);
$gradient-linear-sky-blue: linear-gradient(
 90deg,
 #ede8f6 0%,
 #f4fafd 49.99%,
 #dceef8 100%
);
$gradient-linear-pale-lime-custard-yellow: linear-gradient(
 90deg,
 #fff6dc 0%,
 #fbfdf4 49.99%,
 #edf9f7 100%
);
$gradient-linear-pale-lime-dark-blue: linear-gradient(
 90deg,
 #eaecf1 0%,
 #fbfdf4 49.99%,
 #eaf4f1 100%
);
$gradient-linear-aqua-foam: linear-gradient(
 90deg,
 #e9efef 0%,
 #f8fcfb 49.99%,
 #dceef8 100%
);
$gradient-linear-custard-yellow: linear-gradient(
 90deg,
 #ffe1d9 0%,
 #fffcf4 50%,
 #f2e9ea 100%
);
$gradient-linear-pink: linear-gradient(
 90deg,
 #fff8e6 0%,
 #fff7f8 49.99%,
 #f1e9f1 100%
);
$gradient-linear-orange-coral: linear-gradient(
 90deg,
 #edebf0 0%,
 #fff5f3 49.99%,
 #fff6dc 100%
);
$gradient-linear-blue-black: linear-gradient(
 90deg,
 #06161f 0%,
 #091f2c 49.99%,
 #003259 100%
);
$gradient-linear-green-black: linear-gradient(
 90deg,
 #050e0f 0%,
 #0d2124 49.99%,
 #133236 100%
);
$gradient-linear-brown-black: linear-gradient(
 90deg,
 #110a0a 0%,
 #291817 49.99%,
 #33271f 100%
);
$gradient-linear-red-black: linear-gradient(
 90deg,
 #120508 0%,
 #2b0d12 49.99%,
 #350d13 100%
);
$gradient-linear-purple-black: linear-gradient(
 90deg,
 #0a0512 0%,
 #170d2b 49.99%,
 #271e39 100%
);
$gradient-linear-viva-light-blue: linear-gradient(
 90deg,
 #e6f2fb 0%,
 #b0d5f2 100%
);
$gradient-linear-viva-dark-blue: linear-gradient(
 90deg,
 #2a446f 0%,
 #006dc1 100%
);
$gradient-linear-viva-light-purple: linear-gradient(
 90deg,
 #f3eff9,
 #d9ceed 100%
);
$gradient-linear-viva-dark-purple: linear-gradient(
 90deg,
 #463668,
 #7a58b3 100%
);
$gradient-linear-viva-light-teal: linear-gradient(
 90deg,
 #f8fcfb 0%,
 #c7ede7 100%
);
$gradient-linear-viva-dark-teal: linear-gradient(
 90deg,
 #225b62 0%,
 #348c7e 100%
);
$gradient-linear-redviolet-brightorange: linear-gradient(
 90deg,
 #882a8b 16.83%,
 #dc2c04 83.32%,
 #b54128 100%
);
$gradient-linear-brilliantblue-purple: linear-gradient(
 90deg,
 #0778d4 13.76%,
 #8661c5 84.73%
);
$gradient-linear-mintgreen-brilliantblue: linear-gradient(
 90deg,
 #8de971 17.14%,
 #0778d4 82.76%
);

:root {
    --gradient-mesh-brilliant-blue: #{$gradient-mesh-brilliant-blue};
    --gradient-mesh-sky-blue: #{$gradient-mesh-sky-blue};
    --gradient-mesh-pale-lime-green: #{$gradient-mesh-pale-lime-green};
    --gradient-mesh-pale-lime-foam: #{$gradient-mesh-pale-lime-foam};
    --gradient-mesh-aqua-foam: #{$gradient-mesh-aqua-foam};
    --gradient-mesh-custard-yellow: #{$gradient-mesh-custard-yellow};
    --gradient-mesh-pink: #{$gradient-mesh-pink};
    --gradient-mesh-orange-coral: #{$gradient-mesh-orange-coral};
    --gradient-mesh-blue-black: #{$gradient-mesh-blue-black};
    --gradient-mesh-dark-blue-sky: #{$gradient-mesh-dark-blue-sky};
    --gradient-mesh-dark-blue-lime: #{$gradient-mesh-dark-blue-lime};
    --gradient-mesh-deep-teal: #{$gradient-mesh-deep-teal};
    --gradient-mesh-biscay-green: #{$gradient-mesh-biscay-green};
    --gradient-mesh-maroon: #{$gradient-mesh-maroon};
    --gradient-linear-sea-salt: #{$gradient-linear-sea-salt};
    --gradient-linear-sky-blue: #{$gradient-linear-sky-blue};
    --gradient-linear-pale-lime-custard-yellow: #{$gradient-linear-pale-lime-custard-yellow};
    --gradient-linear-pale-lime-dark-blue: #{$gradient-linear-pale-lime-dark-blue};
    --gradient-linear-aqua-foam: #{$gradient-linear-aqua-foam};
    --gradient-linear-custard-yellow: #{$gradient-linear-custard-yellow};
    --gradient-linear-pink: #{$gradient-linear-pink};
    --gradient-linear-orange-coral: #{$gradient-linear-orange-coral};
    --gradient-linear-blue-black: #{$gradient-linear-blue-black};
    --gradient-linear-green-black: #{$gradient-linear-green-black};
    --gradient-linear-brown-black: #{$gradient-linear-brown-black};
    --gradient-linear-red-black: #{$gradient-linear-red-black};
    --gradient-linear-purple-black: #{$gradient-linear-purple-black};
    --gradient-linear-viva-light-blue: #{$gradient-linear-viva-light-blue};
    --gradient-linear-viva-dark-blue: #{$gradient-linear-viva-dark-blue};
    --gradient-linear-viva-light-purple: #{$gradient-linear-viva-light-purple};
    --gradient-linear-viva-dark-purple: #{$gradient-linear-viva-dark-purple};
    --gradient-linear-viva-light-teal: #{$gradient-linear-viva-light-teal};
    --gradient-linear-viva-dark-teal: #{$gradient-linear-viva-dark-teal};
    --gradient-linear-redviolet-brightorange: #{$gradient-linear-redviolet-brightorange};
    --gradient-linear-brilliantblue-purple: #{$gradient-linear-brilliantblue-purple};
    --gradient-linear-mintgreen-brilliantblue: #{$gradient-linear-mintgreen-brilliantblue};
}