.field {
 border: 1px solid #ccc;
 border-radius: 4px;
 padding: 6px 12px;
 font-size: 14px;
 line-height: 1.42857143;
 color: #555;
 background-color: #fff;
 background-image: none;
 outline: none;
 box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
 transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
 &:focus {
  outline: 1px solid var(--ddui-field-border-color);
 }
}
input[type="checkbox"], input[type="radio"] {
 &:focus {
  outline: none;
 }
}
