/* Grid */
.row {
 display: flex;
 flex-wrap: wrap;
 margin-top: calc(-1 * $row-gutter-y);
 margin-right: calc(-0.5 * $row-gutter-x);
 margin-left: calc(-0.5 * $row-gutter-x);
 & > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc($row-gutter-x * 0.5);
  padding-left: calc($row-gutter-x * 0.5);
  margin-top: $row-gutter-y;
 }
}
.col {
 flex: 1 0 0%;
}
.row-cols-auto > * {
 flex: 0 0 auto;
 width: auto;
}
.row-cols-1 > * {
 flex: 0 0 auto;
 width: 100%;
}
.row-cols-2 > * {
 flex: 0 0 auto;
 width: 50%;
}
.row-cols-3 > * {
 flex: 0 0 auto;
 width: 33.33333333%;
}
.row-cols-4 > * {
 flex: 0 0 auto;
 width: 25%;
}
.row-cols-5 > * {
 flex: 0 0 auto;
 width: 20%;
}
.row-cols-6 > * {
 flex: 0 0 auto;
 width: 16.66666667%;
}
.col-auto {
 flex: 0 0 auto;
 width: auto;
}
.col-1 {
 flex: 0 0 auto;
 width: 8.33333333%;
}
.col-2 {
 flex: 0 0 auto;
 width: 16.66666667%;
}
.col-3 {
 flex: 0 0 auto;
 width: 25%;
}
.col-4 {
 flex: 0 0 auto;
 width: 33.33333333%;
}
.col-5 {
 flex: 0 0 auto;
 width: 41.66666667%;
}
.col-6 {
 flex: 0 0 auto;
 width: 50%;
}
.col-7 {
 flex: 0 0 auto;
 width: 58.33333333%;
}
.col-8 {
 flex: 0 0 auto;
 width: 66.66666667%;
}
.col-9 {
 flex: 0 0 auto;
 width: 75%;
}
.col-10 {
 flex: 0 0 auto;
 width: 83.33333333%;
}
.col-11 {
 flex: 0 0 auto;
 width: 91.66666667%;
}
.col-12 {
 flex: 0 0 auto;
 width: 100%;
}
@media (min-width: 576px) {
 .sm\:col {
  flex: 1 0 0%;
 }
 .sm\:row-cols-auto > * {
  flex: 0 0 auto;
  width: auto;
 }
 .sm\:row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
 }
 .sm\:row-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
 }
 .sm\:row-cols-3 > * {
  flex: 0 0 auto;
  width: 33.33333333%;
 }
 .sm\:row-cols-4 > * {
  flex: 0 0 auto;
  width: 25%;
 }
 .sm\:row-cols-5 > * {
  flex: 0 0 auto;
  width: 20%;
 }
 .sm\:row-cols-6 > * {
  flex: 0 0 auto;
  width: 16.66666667%;
 }
 .sm\:col-auto {
  flex: 0 0 auto;
  width: auto;
 }
 .sm\:col-1 {
  flex: 0 0 auto;
  width: 8.33333333%;
 }
 .sm\:col-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
 }
 .sm\:col-3 {
  flex: 0 0 auto;
  width: 25%;
 }
 .sm\:col-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
 }
 .sm\:col-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
 }
 .sm\:col-6 {
  flex: 0 0 auto;
  width: 50%;
 }
 .sm\:col-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
 }
 .sm\:col-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
 }
 .sm\:col-9 {
  flex: 0 0 auto;
  width: 75%;
 }
 .sm\:col-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
 }
 .sm\:col-11 {
  flex: 0 0 auto;
  width: 91.66666667%;
 }
 .sm\:col-12 {
  flex: 0 0 auto;
  width: 100%;
 }
}
@media (min-width: 768px) {
 .md\:col {
  flex: 1 0 0%;
 }
 .md\:row-cols-auto > * {
  flex: 0 0 auto;
  width: auto;
 }
 .md\:row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
 }
 .md\:row-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
 }
 .md\:row-cols-3 > * {
  flex: 0 0 auto;
  width: 33.33333333%;
 }
 .md\:row-cols-4 > * {
  flex: 0 0 auto;
  width: 25%;
 }
 .md\:row-cols-5 > * {
  flex: 0 0 auto;
  width: 20%;
 }
 .md\:row-cols-6 > * {
  flex: 0 0 auto;
  width: 16.66666667%;
 }
 .md\:col-auto {
  flex: 0 0 auto;
  width: auto;
 }
 .md\:col-1 {
  flex: 0 0 auto;
  width: 8.33333333%;
 }
 .md\:col-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
 }
 .md\:col-3 {
  flex: 0 0 auto;
  width: 25%;
 }
 .md\:col-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
 }
 .md\:col-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
 }
 .md\:col-6 {
  flex: 0 0 auto;
  width: 50%;
 }
 .md\:col-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
 }
 .md\:col-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
 }
 .md\:col-9 {
  flex: 0 0 auto;
  width: 75%;
 }
 .md\:col-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
 }
 .md\:col-11 {
  flex: 0 0 auto;
  width: 91.66666667%;
 }
 .md\:col-12 {
  flex: 0 0 auto;
  width: 100%;
 }
}
@media (min-width: 992px) {
 .lg\:col {
  flex: 1 0 0%;
 }
 .lg\:row-cols-auto > * {
  flex: 0 0 auto;
  width: auto;
 }
 .lg\:row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
 }
 .lg\:row-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
 }
 .lg\:row-cols-3 > * {
  flex: 0 0 auto;
  width: 33.33333333%;
 }
 .lg\:row-cols-4 > * {
  flex: 0 0 auto;
  width: 25%;
 }
 .lg\:row-cols-5 > * {
  flex: 0 0 auto;
  width: 20%;
 }
 .lg\:row-cols-6 > * {
  flex: 0 0 auto;
  width: 16.66666667%;
 }
 .lg\:col-auto {
  flex: 0 0 auto;
  width: auto;
 }
 .lg\:col-1 {
  flex: 0 0 auto;
  width: 8.33333333%;
 }
 .lg\:col-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
 }
 .lg\:col-3 {
  flex: 0 0 auto;
  width: 25%;
 }
 .lg\:col-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
 }
 .lg\:col-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
 }
 .lg\:col-6 {
  flex: 0 0 auto;
  width: 50%;
 }
 .lg\:col-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
 }
 .lg\:col-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
 }
 .lg\:col-9 {
  flex: 0 0 auto;
  width: 75%;
 }
 .lg\:col-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
 }
 .lg\:col-11 {
  flex: 0 0 auto;
  width: 91.66666667%;
 }
 .lg\:col-12 {
  flex: 0 0 auto;
  width: 100%;
 }
}
@media (min-width: 1200px) {
 .xl\:col {
  flex: 1 0 0%;
 }
 .xl\:row-cols-auto > * {
  flex: 0 0 auto;
  width: auto;
 }
 .xl\:row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
 }
 .xl\:row-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
 }
 .xl\:row-cols-3 > * {
  flex: 0 0 auto;
  width: 33.33333333%;
 }
 .xl\:row-cols-4 > * {
  flex: 0 0 auto;
  width: 25%;
 }
 .xl\:row-cols-5 > * {
  flex: 0 0 auto;
  width: 20%;
 }
 .xl\:row-cols-6 > * {
  flex: 0 0 auto;
  width: 16.66666667%;
 }
 .xl\:col-auto {
  flex: 0 0 auto;
  width: auto;
 }
 .xl\:col-1 {
  flex: 0 0 auto;
  width: 8.33333333%;
 }
 .xl\:col-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
 }
 .xl\:col-3 {
  flex: 0 0 auto;
  width: 25%;
 }
 .xl\:col-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
 }
 .xl\:col-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
 }
 .xl\:col-6 {
  flex: 0 0 auto;
  width: 50%;
 }
 .xl\:col-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
 }
 .xl\:col-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
 }
 .xl\:col-9 {
  flex: 0 0 auto;
  width: 75%;
 }
 .xl\:col-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
 }
 .xl\:col-11 {
  flex: 0 0 auto;
  width: 91.66666667%;
 }
 .xl\:col-12 {
  flex: 0 0 auto;
  width: 100%;
 }
}
@media (min-width: 1400px) {
 .xxl\:col {
  flex: 1 0 0%;
 }
 .xxl\:row-cols-auto > * {
  flex: 0 0 auto;
  width: auto;
 }
 .xxl\:row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
 }
 .xxl\:row-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
 }
 .xxl\:row-cols-3 > * {
  flex: 0 0 auto;
  width: 33.33333333%;
 }
 .xxl\:row-cols-4 > * {
  flex: 0 0 auto;
  width: 25%;
 }
 .xxl\:row-cols-5 > * {
  flex: 0 0 auto;
  width: 20%;
 }
 .xxl\:row-cols-6 > * {
  flex: 0 0 auto;
  width: 16.66666667%;
 }
 .xxl\:col-auto {
  flex: 0 0 auto;
  width: auto;
 }
 .xxl\:col-1 {
  flex: 0 0 auto;
  width: 8.33333333%;
 }
 .xxl\:col-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
 }
 .xxl\:col-3 {
  flex: 0 0 auto;
  width: 25%;
 }
 .xxl\:col-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
 }
 .xxl\:col-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
 }
 .xxl\:col-6 {
  flex: 0 0 auto;
  width: 50%;
 }
 .xxl\:col-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
 }
 .xxl\:col-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
 }
 .xxl\:col-9 {
  flex: 0 0 auto;
  width: 75%;
 }
 .xxl\:col-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
 }
 .xxl\:col-11 {
  flex: 0 0 auto;
  width: 91.66666667%;
 }
 .xxl\:col-12 {
  flex: 0 0 auto;
  width: 100%;
 }
}